<h1>Sign up!</h1>

<div style="width:40%">
  <%= form_for( :user, url: '/users', html: {class:'form-group'}) do |f| %>
    <br>
    <label for="exampleInputEmail1">First Name</label>
    <%= f.text_field( :name, class: "form-control")%>
    <br>
    <label for="exampleInputEmail1">Email address</label>
    <%= f.text_field( :email, class: "form-control" )%>
    <br>
    <label for="exampleInputEmail1">Password</label>
    <%= f.password_field( :password , class: "form-control")%>
    <br>
    <label for="exampleInputEmail1">Confirm Password</label>
    <%= f.password_field( :password_confirmation, class: "form-control" )%>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
</div>