<tr>
<br>
  <td>
    <h4><%= product.name %></h4>
    <td>
    <%= image_tag product.image.tiny %>
  </td>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <p>Price: <%= humanized_money_with_symbol ((product.price)/1.00) %></p>
    
  </td>
  <td>
    <p>Quantity: <%= quantity %></p>
  </td>
  <td>
    <p>Product Total:  <%= humanized_money_with_symbol (product.price * quantity) %></p> 
  </td>
</tr>